@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Lato', Arial, sans-serif; }

.page {
  height: 100vh;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-color: white; }
  .page .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.8);
    content: ''; }
  .page .content {
    height: calc(100% - 150px);
    width: 60%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 70px; }
  .page .slider {
    font-size: 15em;
    color: #b3b3b3;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    opacity: 0;
    letter-spacing: 20px; }
  .page.blog h1:after, .page.contact h1:after, .page.portfolio h1:after, .page.services h1:after {
    content: '';
    display: block;
    height: 3px;
    width: 250px;
    margin-top: 15px;
    background-color: #ff4200; }
  .page.home {
    background-image: url("../assets/header_background_2.jpg");
    position: relative; }
    .page.home .home-slider {
      bottom: -60px; }
    .page.home .home__content {
      margin-top: 0; }
      .page.home .home__content .logo {
        width: 35%;
        height: 100%;
        position: absolute;
        right: 20.5%;
        top: 45px;
        display: none; }
        .page.home .home__content .logo svg {
          width: 100%;
          height: 100%; }
      .page.home .home__content .scroll-down {
        position: absolute;
        bottom: 40px;
        left: 30%;
        color: #b3b3b3; }
        .page.home .home__content .scroll-down .arrow {
          transform: rotateZ(90deg);
          text-transform: uppercase;
          width: 100px;
          height: 18px;
          font-size: .9em;
          color: #646e78;
          padding-bottom: 15px;
          border-bottom: 3px solid #b3b3b3; }
      .page.home .home__content .topic {
        text-transform: uppercase;
        padding-left: 0px;
        z-index: 2;
        opacity: 0; }
        .page.home .home__content .topic h1 {
          font-size: 6em;
          letter-spacing: 25px;
          font-family: 'Avenir', Arial, sans-serif; }
        .page.home .home__content .topic p {
          color: #b3b3b3;
          font-size: 1.1em;
          letter-spacing: 9px;
          margin-bottom: 25px; }
        .page.home .home__content .topic .more {
          cursor: pointer;
          width: 200px;
          border-top: 3px solid #ff4200;
          padding-top: 15px;
          font-size: 1.1em; }
          .page.home .home__content .topic .more span {
            margin-right: 10px; }
          .page.home .home__content .topic .more i {
            margin-right: 10px;
            color: #ff4200;
            font-size: 1.3em;
            line-height: 20px; }
  .page.about {
    position: relative; }
    .page.about .about__content {
      justify-content: center;
      align-items: flex-start;
      flex-direction: column; }
      .page.about .about__content .helper {
        flex: 3; }
      .page.about .about__content h1 {
        z-index: 2;
        margin: 0;
        font-size: 6em;
        text-transform: uppercase;
        letter-spacing: 25px;
        color: black;
        flex: 1;
        display: none; }
        .page.about .about__content h1 span {
          color: #ff4200; }
      .page.about .about__content div {
        width: 50%;
        margin-left: 10%;
        font-size: 1em;
        flex: 3; }
        .page.about .about__content div hr {
          margin-top: 100px;
          margin-left: 0; }
        .page.about .about__content div p {
          color: #b3b3b3; }
    .page.about img {
      position: absolute;
      width: 20%;
      z-index: 1; }
      .page.about img:first-child {
        left: 40%;
        top: 20%; }
      .page.about img:last-child {
        left: 55%;
        top: 40%; }
    .page.about .letter {
      position: absolute;
      top: 0%;
      color: #b3b3b3;
      opacity: .1;
      font-weight: bold; }
      .page.about .letter.big {
        left: -20px;
        font-size: 30em;
        text-align: top; }
      .page.about .letter.little {
        top: 10%;
        left: 70%;
        font-size: 10em; }
  .page.services {
    background-image: url("../assets/services_background.jpg"); }
    .page.services .services__content {
      flex-direction: column; }
      .page.services .services__content .services-slider {
        right: -50%;
        top: 60px; }
      .page.services .services__content .helper {
        flex: 1; }
      .page.services .services__content .services__list {
        width: 100%;
        text-transform: uppercase;
        flex: 3; }
        .page.services .services__content .services__list h1 {
          display: inline-block;
          padding-bottom: 15px;
          margin-bottom: 100px;
          letter-spacing: 6px;
          display: none; }
        .page.services .services__content .services__list ul li {
          display: none;
          letter-spacing: 3px;
          font-weight: bold;
          font-size: 1.1em;
          list-style: none;
          color: #737373;
          margin-bottom: 15px;
          cursor: pointer;
          transition: all .3s ease-in-out; }
        .page.services .services__content .services__list ul li.active, .page.services .services__content .services__list ul li:hover {
          color: #d3d3d3; }
      .page.services .services__content .service-info {
        flex: 2;
        float: right;
        display: flex;
        flex-direction: row; }
        .page.services .services__content .service-info .helper {
          flex: 4; }
        .page.services .services__content .service-info .info {
          flex: 2; }
          .page.services .services__content .service-info .info h3 {
            letter-spacing: 3px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.1em;
            color: #d3d3d3;
            display: none;
            position: relative; }
            .page.services .services__content .service-info .info h3:before {
              display: block;
              position: absolute;
              font-size: 3.5em;
              color: #ff4200;
              opacity: .5;
              transition: all .3s ease-in-out; }
            .page.services .services__content .service-info .info h3.p:before {
              top: -26px;
              left: -16px;
              content: 'P'; }
            .page.services .services__content .service-info .info h3.w:before {
              top: -26px;
              left: -36px;
              content: 'W'; }
            .page.services .services__content .service-info .info h3.i:before {
              top: -26px;
              left: -6px;
              content: 'I'; }
          .page.services .services__content .service-info .info p {
            color: #b3b3b3;
            display: none;
            font-size: 1em; }
  .page.portfolio {
    background-image: url("../assets/portfolio_background.jpg"); }
    .page.portfolio .portfolio__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .page.portfolio .portfolio__content .helper {
        height: 80px; }
      .page.portfolio .portfolio__content h1 {
        height: 60px;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 6px;
        display: none; }
      .page.portfolio .portfolio__content .portfolio__els {
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        flex: 3; }
        .page.portfolio .portfolio__content .portfolio__els .el {
          flex: 1;
          margin-right: 25px;
          max-height: 320px;
          display: none; }
          .page.portfolio .portfolio__content .portfolio__els .el img {
            width: 100%; }
          .page.portfolio .portfolio__content .portfolio__els .el:not(:nth-child(2)) {
            padding-top: 10%; }
          .page.portfolio .portfolio__content .portfolio__els .el:nth-child(4) {
            flex: 2; }
          .page.portfolio .portfolio__content .portfolio__els .el .descr {
            margin-top: 35px;
            text-align: center; }
            .page.portfolio .portfolio__content .portfolio__els .el .descr h3 {
              font-size: 1.05em;
              text-transform: uppercase;
              color: #d3d3d3;
              font-weight: bold; }
            .page.portfolio .portfolio__content .portfolio__els .el .descr p {
              font-size: 1em;
              color: #b3b3b3; }
          .page.portfolio .portfolio__content .portfolio__els .el ul {
            padding-left: 80px;
            display: block;
            height: 95%; }
            .page.portfolio .portfolio__content .portfolio__els .el ul li {
              letter-spacing: 3px;
              font-weight: bold;
              font-size: 1.1em;
              text-transform: uppercase;
              list-style: none;
              color: #737373;
              cursor: pointer;
              margin-bottom: 15px;
              transition: all .3s ease-in-out; }
            .page.portfolio .portfolio__content .portfolio__els .el ul li.active, .page.portfolio .portfolio__content .portfolio__els .el ul li:hover {
              color: #d3d3d3; }
          .page.portfolio .portfolio__content .portfolio__els .el .circles {
            padding-left: 75px;
            height: 5%; }
            .page.portfolio .portfolio__content .portfolio__els .el .circles .circle {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #737373;
              margin: 5px;
              display: inline-block;
              margin-right: 15px;
              transition: all .1s ease-in-out; }
              .page.portfolio .portfolio__content .portfolio__els .el .circles .circle.active, .page.portfolio .portfolio__content .portfolio__els .el .circles .circle:hover {
                background-color: #d3d3d3; }
  .page.blog .blog__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black; }
    .page.blog .blog__content .blog-slider {
      right: -100%; }
    .page.blog .blog__content h1 {
      height: 60px;
      margin-top: 40px;
      text-transform: uppercase;
      display: none;
      letter-spacing: 6px; }
    .page.blog .blog__content h2 {
      font-size: 2em; }
    .page.blog .blog__content h3 {
      font-size: 1.9em; }
    .page.blog .blog__content .blog__els {
      margin-top: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex: 3;
      opacity: 0; }
      .page.blog .blog__content .blog__els .blog__img {
        width: 250px;
        height: 250px;
        position: relative;
        flex: 1; }
        .page.blog .blog__content .blog__els .blog__img img {
          width: 100%;
          height: 100%; }
        .page.blog .blog__content .blog__els .blog__img .img-mask {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(110, 110, 110, 0.6); }
      .page.blog .blog__content .blog__els div {
        min-height: 250px;
        max-width: 250px; }
      .page.blog .blog__content .blog__els .place {
        flex: 1;
        margin-left: 50px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 50px; }
        .page.blog .blog__content .blog__els .place h2 {
          color: black;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.9em; }
        .page.blog .blog__content .blog__els .place p {
          color: #b3b3b3;
          font-size: 1.1em; }
        .page.blog .blog__content .blog__els .place:before {
          content: '';
          display: block;
          background-color: #ff4200;
          height: 3px;
          width: 50px;
          position: absolute;
          top: 125px;
          left: -75px;
          opacity: .7; }
      .page.blog .blog__content .blog__els .phrases {
        flex: 1;
        padding-top: 30px;
        display: flex;
        flex-direction: column; }
        .page.blog .blog__content .blog__els .phrases h3 {
          color: black;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.9em; }
        .page.blog .blog__content .blog__els .phrases p {
          color: #b3b3b3;
          font-size: 1.1em; }
  .page.contact {
    background-image: url("../assets/contact_background.jpg");
    position: relative; }
    .page.contact .contact__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .page.contact .contact__content h1 {
        height: 60px;
        margin-top: 40px;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 6px;
        flex: 2;
        display: none; }
      .page.contact .contact__content .contact__list {
        flex: 4;
        padding-left: 60px;
        display: none; }
        .page.contact .contact__content .contact__list div {
          position: relative; }
          .page.contact .contact__content .contact__list div h2 {
            text-transform: uppercase;
            color: #d3d3d3;
            font-size: 1.3em; }
          .page.contact .contact__content .contact__list div p {
            color: #b3b3b3;
            font-size: 1em; }
          .page.contact .contact__content .contact__list div i {
            position: absolute;
            top: 0;
            left: -30px;
            color: #d3d3d3;
            font-size: 1.3em; }
    .page.contact .map {
      position: absolute;
      top: 0;
      left: 40%;
      height: 100%;
      width: 60%;
      background-color: white;
      background-image: url("../assets/map.png");
      background-size: cover; }
      .page.contact .map .wrapper {
        position: relative;
        height: 100%;
        width: 100%; }
      .page.contact .map .feedback {
        position: absolute;
        bottom: 5%;
        left: 5%;
        width: 40%;
        padding: 35px;
        background-color: white; }
        .page.contact .map .feedback .form__row {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin-bottom: 10px; }
          .page.contact .map .feedback .form__row input {
            box-sizing: border-box;
            width: calc(50% - 5px);
            color: black;
            padding: 5px;
            font-size: 1.1em; }
          .page.contact .map .feedback .form__row.message-topic input {
            width: 100%; }
          .page.contact .map .feedback .form__row.message {
            color: black; }
            .page.contact .map .feedback .form__row.message textarea {
              width: 100%;
              height: 150px;
              padding: 5px;
              font-size: 1.1em; }
        .page.contact .map .feedback button {
          background-color: #ff4200;
          border: none;
          padding: 10px;
          font-size: 1em;
          width: calc(50% - 5px);
          min-height: 40px;
          position: relative; }
          .page.contact .map .feedback button:before {
            position: absolute;
            content: '';
            top: 10px;
            left: calc(50% - 10px);
            width: 20px;
            height: 20px; }
          .page.contact .map .feedback button.load:before {
            border: 3px solid transparent;
            border-top: 3px solid white;
            border-right: 3px solid white;
            border-radius: 50%;
            animation: spin .6s infinite; }
          .page.contact .map .feedback button.success {
            animation: successBtn .6s forwards; }
            .page.contact .map .feedback button.success:before {
              content: '✓';
              font-size: 1px;
              top: 5px;
              animation: success .3s forwards; }

.pagination {
  position: fixed;
  top: 200px;
  left: 25px;
  width: 250px;
  height: 200px;
  display: none;
  text-transform: uppercase;
  font-weight: bold; }
  .pagination li {
    display: block;
    position: relative;
    padding-left: 25px;
    max-width: 15px;
    overflow: hidden;
    line-height: 25px;
    height: 25px;
    cursor: pointer; }
    .pagination li .dot {
      position: absolute;
      display: block;
      left: 12px;
      top: 5px;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #737373; }
    .pagination li .number {
      font-size: 32px;
      position: absolute;
      left: 0;
      top: -10px;
      opacity: 0; }
    .pagination li p {
      padding-left: 5px;
      transition: all .3s ease-in-out; }
  .pagination li:hover {
    max-width: 250px; }
    .pagination li:hover p {
      padding-left: 15px; }
    .pagination li:hover .dot {
      background-color: white; }
  .pagination li.active {
    padding-top: 25px;
    max-width: 250px;
    line-height: 60px;
    height: 165px; }
    .pagination li.active .number {
      display: block;
      line-height: 60px;
      opacity: 1; }
    .pagination li.active .dot {
      background-color: white;
      top: 48px; }
    .pagination li.active p {
      padding-left: 15px; }
    .pagination li.active:before {
      position: absolute;
      display: block;
      content: '';
      background-color: white;
      height: 90px;
      width: 3px;
      left: 16px;
      top: 68px;
      border-radius: 10px; }
  .pagination.pagination_inverse li p {
    color: black; }
  .pagination.pagination_inverse li:hover .dot {
    background-color: black; }
  .pagination.pagination_inverse li.active .number {
    color: black; }
  .pagination.pagination_inverse li.active:before {
    background-color: black; }
  .pagination.pagination_inverse li.active .dot {
    background-color: black; }

.navbar {
  height: 50px;
  padding: 20px;
  opacity: 0; }

.navbar__logo {
  float: left;
  height: 40px;
  width: 40px; }
  .navbar__logo img {
    height: 25px; }

.navbar__menu {
  float: right;
  position: relative;
  width: 100px; }
  .navbar__menu .menu__btn {
    height: 40px;
    width: 40px;
    float: right;
    position: relative; }
    .navbar__menu .menu__btn .btn__icon {
      content: '';
      height: 2px;
      width: 20px;
      background-color: white;
      position: absolute;
      top: 45%;
      left: 8px;
      transition: all 1s ease-in-out; }
    .navbar__menu .menu__btn:after {
      content: '';
      height: 2px;
      width: 20px;
      background-color: white;
      position: absolute;
      top: 30%;
      left: 8px;
      transition: all .4s ease-in-out; }
    .navbar__menu .menu__btn:before {
      content: '';
      height: 2px;
      width: 20px;
      background-color: white;
      position: absolute;
      top: 60%;
      left: 8px;
      transition: all .4s ease-in-out; }
  .navbar__menu .menu__list {
    position: absolute;
    top: 25px;
    left: 150%;
    width: 100px;
    padding: 15px; }
    .navbar__menu .menu__list li {
      list-style: none;
      padding: 3px;
      width: auto;
      text-align: center; }
    .navbar__menu .menu__list li:hover:after {
      width: 25px; }
  .navbar__menu.menu_off .menu__list {
    animation: menuOut .6s forwards ease-in-out; }
  .navbar__menu.menu_on .menu__list {
    animation: menuIn .6s forwards ease-in-out; }
  .navbar__menu.menu_on .menu__btn .btn__icon {
    display: none; }
  .navbar__menu.menu_on .menu__btn:after {
    width: 25px;
    top: calc(50% - 1px);
    left: 6px;
    transform: rotateZ(45deg); }
  .navbar__menu.menu_on .menu__btn:before {
    width: 25px;
    top: calc(50% - 1px);
    left: 6px;
    transform: rotateZ(-45deg); }

.content {
  width: 60%;
  margin: 0 auto; }

.socials {
  position: fixed;
  top: calc(50% - 100px);
  right: -45px;
  width: 100px;
  height: 200px;
  display: none; }
  .socials ul li {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px; }
    .socials ul li svg {
      width: 15px;
      height: 15px;
      fill: #c3c3c3;
      transition: all .3s ease-in-out;
      cursor: pointer; }
      .socials ul li svg#facebook:hover {
        fill: #3b5998; }
      .socials ul li svg#twitter:hover {
        fill: #1da1f2; }
      .socials ul li svg#blogger:hover {
        fill: #fd6700; }
      .socials ul li svg#behance:hover {
        fill: #316ef3; }
    .socials ul li img {
      height: 15px; }
  .socials.inverse ul li svg {
    fill: black; }

@keyframes menuIn {
  0% {
    left: 150%; }
  80% {
    left: -50px; }
  100% {
    left: -50px;
    top: 0; } }

@keyframes menuOut {
  0% {
    left: -50px;
    top: 0; }
  20% {
    left: -50px; }
  100% {
    left: 150%; } }

@keyframes spin {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }

@keyframes successBtn {
  0% {
    background-color: #ff4200; }
  100% {
    background-color: #15db15; } }

@keyframes success {
  0% {
    font-size: 1px; }
  100% {
    font-size: 1.4em; } }
